name: sims
on:
  push:
    branches:
      - master

jobs:
  simulations:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - uses: actions/checkout@v3
      - name: build
        run: |
          make build

      - name: run sims
        run: |
          make test-sim
